:root {
	--gradient: linear-gradient(
			45deg,
			aqua,
			rgb(122, 235, 122),
			rgb(221, 45, 45),
			rgb(241, 241, 95),
			rgb(80, 164, 248)
		)
		1;
	--color-primary: #ab79d6;
	--color-secondary: #fde047;
}
