@use "../utilities" as *;
.container {
	display: none;
	margin-top: 10rem;
	margin-inline: auto;
	height: 40vh;
	width: 25vw;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	// filter: blur(10px); // will add using js when winner pops
	.grid-item {
		border: 1px solid;
		border-image: var(--gradient);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		font-weight: 900;
	}
}
